@page
@using ClassLibrary.Services;
@using ClassLibrary.Models;
@using ClassLibrary.Interfaces;
@using SejlklubRazor.Pages;
@model SejlklubRazor.Pages.Courses.EnterCourseSignInModel
@{
    ViewData["Title"] = "Tilmeld dig Til Et Hold";
}
<h3>Tilmeld dig Til Et Hold</h3>

<label for="members">Choose a member:</label>
<select name="members" id="member">
    @foreach (Member mem in Model.Members)
    {
        <option value="mem.Name">mem.Name</option>
    }
</select>

@foreach(Course course in Model.NonEnteredCoursesByMember(Model.Member))
{
    <p>Name/Title @course.Name</p>
    <p>Course Leader: @course.Master.Name</p>
    <p>StartDate= @course.TimeSlot[0]</p>
    <p>EndDate= @course.TimeSlot[1]</p>
    <p>Min Number Of Attendees: @course.AttendeeRange[0]   </p>
    <p>Max Number Of Attendees: @course.AttendeeRange[1]</p>
    <p>Numer Of Spots Left: @(course.AttendeeRange[1] - course.Attendees.Count)</p>
    <p>Summary: @course.Summary</p>
    <p>Description: @course.Description</p>
    <td>
        <form style="display: inline;" asp-page-handler="Enter" asp-route-Id="@course.Id">
            <input type="image" value="Entered a Course" />
        </form>
    </td>
}