@page
@using ClassLibrary.Services;
@using ClassLibrary.Models;
@using ClassLibrary.Interfaces;
@using SejlklubRazor.Pages;
@using SejlklubRazor.Pages.Courses;
@using SejlklubRazor.Pages.Courses.ShowCourseList;
@model SejlklubRazor.Pages.Courses.SignInCourseModel
@{
    ViewData["Title"] = "se dine tilmeldinger";
}
<h3>se hvilke hold du er tilmeldt</h3>

<label for="members">Choose a member:</label>
<select name="members" id="member">
    @foreach(Member mem in Model.Members)
    {
        <option value="mem.Name">mem.Name</option>
    }
</select>
@foreach(Course course in Model.ENTEREDcOURSES(Model.Member))
{
    @if (Model.ENTEREDcOURSES(Model.Member)[0].Name == " ")
    {
        <p> no courses entered yet</p>
    }else{
    <p>Name/Title @course.Name</p>    
    <p>Course Leader: @course.Master.Name</p>
    <p>StartDate= @course.TimeSlot[0]</p>
    <p>EndDate= @course.TimeSlot[1]</p>
    <p>Min Number Of Attendees: @course.AttendeeRange[0]   </p>
    <p>Max Number Of Attendees: @course.AttendeeRange[1]</p>
    <p>Numer Of Spots Left: @(course.AttendeeRange[1]-course.Attendees.Count)</p>
    <p>Summary: @course.Summary</p>
    <p>Description: @course.Description</p>

<div class="formgroup">
    <form style="display: inline;" asp-page-handler="EnterCourseSignIn" >
        <input type="submit" value="Sign In To Course" class="btn btn-primary" />
    </form>
</div>
    }
}