@page
@model SejlklubRazor.Pages.Members.AddMemberModel
@{
    ViewData["Title"] = "Opret Medlem";
}

    @if(Model.OldUser != null)
    {
    <h3>Du er i gang med at redigere brugeren: @Model.OldUser.Name (@Model.OldUser.Email)</h3>
    }

<form method="post">
    <div class="form-group">
        <label asp-for="@Model.Name" class="control-label"></label>
        <input asp-for="@Model.Name" class="form-control" />
    </div>


    <div class="form-group">
        <label asp-for="@Model.Phone" class="control-label"></label>
        <input asp-for="@Model.Phone" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Email" class="control-label"></label>
        <input asp-for="@Model.Email" class="form-control" />
    </div>
    @if (Model.ExistingUser != null)
    {
        <h5><span class="text-danger">@Model.NameWarning:</span></h5>
        <h5><span class="text-danger">@Model.ExistingUser.Name. Rediger denne bruger?</span></h5>

        <a class="nav-link text-dark bg-primary" style="display: inline; width: 20%;" asp-page="AddMember" asp-route-oldEmail="@Model.ExistingUser.Email">Ja</a>
        <p style=" display: inline"> </p>
        <a class="nav-link text-dark bg-primary" style="display: inline; width: 20%;" asp-page="AddMember" asp-route-oldEmail="@Model.OldUser.Email">Nej</a>
    } else {
        <input type="submit" value="Gem" class="btn btn-primary" />
    }

</form>

