@page
@using ClassLibrary.Models
@model SejlklubRazor.Pages.Members.ShowMembersModel
@{
    ViewData["Title"] = "Medlemsskabsliste";
}

<btn>
    <a class="nav-link text-dark bg-primary" asp-page="AddMember">Tilføj nyt medlem</a>
</btn>

<table class="table">
    <thead>
        <tr>
            <th>Navn</th>
            <th>Tlf.</th>
            <th>Email</th>
        </tr>
    </thead>

    <tbody>
        @foreach (Member member in Model.Members) 
        {
            <tr>
                <td>@member.Name</td>
                <td>@member.Phone</td>
                <td>@member.Email</td>
                <td>
                    <form style="display: inline;" asp-page-handler="Edit" asp-route-oldEmail="@member.Email">
                        <input type="image" src ="~/Images/pencil-square.svg" />
                    </form>

                    <form style="display: inline;" asp-page-handler="Delete" asp-route-Email="@member.Email">
                        <input type="image" src="~/Images/trash3.svg" />
                    </form>
                </td>
            </tr>
        }

    </tbody>
</table>
