@page
@using ClassLibrary.Models;
@model SejlklubRazor.Pages.Boats.EditNoteModel
@{
    ViewData["Title"] = "Opdater Vedligeholdelsesnotat";
}

@* edit damage severe/minor
edit string note
update lastupdated onpost *@

<h3>Opdater Vedligeholdelsesnotat</h3>

<form method="post">
    <div class="form-group">
        <label asp-for="@Model.No" class="control-label"></label>
        <input asp-for="@Model.No" readonly class="form-control" />
    </div>
    <input type="radio" asp-for="@Model.SevereDamage" value="True" /> SERIØST
    <br />
    <input type="radio" asp-for="@Model.SevereDamage" value="False" /> Minimalt
    <div class="form-group">
        <label asp-for="@Model.Note" class="control-label"></label>
        <input asp-for="@Model.Note" style="display: br; width: 30%;" class="form-control" />
    </div>
    <div class="formgroup">
        <input type="submit" value="Opdater Notat" class="btn btn-primary" />
    </div>
</form>