@page
@using ClassLibrary.Models;
@model SejlklubRazor.Pages.Boats.ShowBoatListModel
@{
    ViewData["Title"] = "Liste af Både";
}

<h3>Klubbens Både</h3>

<table class="table">
    <thead>
        <tr>
            <th>Model</th>
            <th>Navn</th>
            <th>Registrerings ID</th>
            <th>Vedligeholdelse Log</th>
            <th>Admin</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Boat item in Model.Boats)
        {
            <tr>
                <td>@item.Model.ModelName</td>
                <td>@item.Nickname</td>
                <td>@item.Registration</td>
                <td><a asp-page="ShowMaintenanceLog" asp-route-boatReg="@item.Registration">Læs vedligeholdeslogs for denne båd</a></td>
                <td>
                    <form method="post" style="display: inline;" asp-page-handler="Edit" asp-route-Registration="@item.Registration">
                        <input type="submit" value="Edit" />
                    </form>
                    <form method="post" style="display: inline;" asp-page-handler="Delete" asp-route-deleteRegistration="@item.Registration">
                        <input type="submit" value="Delete" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>