@page
@using ClassLibrary.Models;
@using SejlklubRazor.Pages.Boats;
@model SejlklubRazor.Pages.Boats.ShowModelInfo
@{
    ViewData["Title"] = "Båd Information";
}

<table class="table">
    <thead>
        <tr>
            <th>Model Navn</th>
            <th>Beskrivelse</th>
            <th>Skrog Længde</th>
            <th>Skrog Bredde</th>
            <th>Skrog Dybde</th>
            <th>Vægt</th>
            
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Model.ModelName</td>
            <td>@Model.Model.Description</td>
            <td>@Model.Model.HullLength</td>
            <td>@Model.Model.HullWidth</td>
            <td>@Model.Model.HullDepth</td>
            <td>@Model.Model.BaseWeight</td>
        </tr>
    </tbody>
</table>